*{/* enlever tout signes distinctifs entre les lignes*/
    list-style-type: none;
    text-decoration: none;
}
nav{
    position: absolute;
    /* initialisation de la poistion*/
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height:162px;
    background: #FFFFFF;
    list-style-type: none;
    display:inline-block;
    z-index:1;/*mise en avant*/
    text-align: center;
    font-family: "Chau Philomene One";
} 
.logo{
    position: absolute;
    /* position du logo : */
    left: 2.22%;
    right: 89.65%;
    top: 6.05%;
    bottom: 11.73%; 
    /* dimensions du logo: */
    width:130px; height:130px;
}


nav li a {
    color: #000000;
    font-weight: bold;
    /*création d'une transition lors de l'affichage d'ouverture*/
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

/*-----------------------------------------------------------------*/

/*grands titres*/


.deroulant1{
    position: absolute;
    /* position: */
    left: 17.91%;
    right: 75.13%;
    top: 33.33%;
    font-family: "Chau Philomene One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    border-top: 5px solid #BCCAF8; /*création du trait de couleur au dessus du texte*/
    /*animation d'affichage*/
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
nav li.deroulant1 :hover { /*affichage progressif de la couleur lorsque l'on passe au dessus du texte*/
    box-shadow: inset 0 100px 0 0px #bccaf8;
    color:#FFFFFF;/*couleur que prend le texte quand il est survolé*/
}

.deroulant5{
    position: absolute;
    /* position: */
    left: 28.26%;
    right: 60.86%;
    top: 33.33%;
    font-family: "Chau Philomene One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    border-top: 5px solid #59E4AD;/*création du trait de couleur au dessus du texte*/
    /*animation d'affichage*/   
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
nav li.deroulant5 :hover {
    box-shadow: inset 0 100px 0 0px #59E4AD;/*affichage progressif de la couleur lorsque l'on passe au dessus du texte*/
    color:#FFFFFF; /*couleur que prend le texte quand il est survolé*/
}

.deroulant2{
    position: absolute;
    /* position: */
    left: 41.39%;
    right: 41.97%;
    top: 33.33%;
    font-family: "Chau Philomene One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    border-top: 5px solid #FDCF2D;/*création du trait de couleur au dessus du texte*/
    /*animation d'affichage*/
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
nav li.deroulant2 :hover {
    box-shadow: inset 0 100px 0 0px #FDCF2D;/*affichage progressif de la couleur lorsque l'on passe au dessus du texte*/
    color:#FFFFFF;/*couleur que prend le texte quand il est survolé*/
}

.deroulant3{
    position: absolute;
    /* position: */
    left: 61.67%;
    right: 29.1%;
    top: 33.33%;
    font-family: "Chau Philomene One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    border-top: 5px solid #363C5D;/*création du trait de couleur au dessus du texte*/
    /*animation d'affichage*/
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
nav li.deroulant3 :hover {
    box-shadow: inset 0 100px 0 0px #363C5D;/*affichage progressif de la couleur lorsque l'on passe au dessus du texte*/
    color:#FFFFFF;/*couleur que prend le texte quand il est survolé*/
}

.deroulantF{
    position: absolute;
    /* position: */
    left: 75.08%;
    right: 20.14%;
    top: 22.22%;
}

.deroulantI{
    position: absolute;
    /* position: */
    left: 81.74%;
    right: 15.49%;
    top: 22.22%;
}

.deroulant4{
    position:absolute;
    /* position: */
    left:87.25%;
    right: 2.97%;
    top: 22.22%;
    padding-top:5px;
    font-family: "Chau Philomene One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF; /* couleur du texte*/
    background-color: #363C5D;/* couleur du rectangle */
    border-radius: 15px;/* bords arrondis*/
    /* dimensions: */
    height:35px;
    width:142px;
}

/* -----------------------------------------------------------------*/

/* sous-parties */

.sous{ /* sous-parties en général*/
    display:none; /* ne s'affiche pas d'oofice, il reste caché*/
    background-color: #d4d6db; /* va permettre à l'utilisateur de savoir quelle sous partie il est en trai de selectionner*/
    position: absolute;
    width: 200px;
    z-index: 1000; /* pour mettre au premier plan*/
    color:black; /* couleur du text*/
}

.sous li{ /* correspond aux sous parties des grands titres*/
    display:block;
    position:relative;
    float:left;
}

nav > .inside-menu li:hover .sous{ /* lorsque l'on survole une grande partie particulière … */
    display: flex; /* (posible grâce au flex) */
    flex-flow: column wrap; /* … elle s'affichera en se déroulant au petit à petit */ 
}

.sous li{
    flex: 1 1 auto;
    text-align: left; /* Le texte est aligné vers la gauche */
}

.sous a{
    border-bottom: none; /* permet de ne pas afficher la ligne de visite du lien */
}

.sous a:hover{ /* surligne la sous partie que l'on survole en gris claire pour aider l'utilisateur */
    border-bottom: none;
    color:#adadad;
    background-color: rgba(0, 0, 0, 0.315); /* c'est un noir relativement transparent*/
}

nav li .sous{
    padding:0;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/* partie dédiée à la bonne ergonomie du site dans le format Mobile */


@media only screen and (max-width:650px){   /* cette partie est dédiée aux ecrans faisant moins de 650px*/

    nav{/* agrandit le header pour pouvoir tout mettre */
        position:relative;
        height:230px;
        width:100%;
    }

    .logo{ /* redimension et relocalisation du logo*/
        width:150px;
        height:150px;
        position: absolute;
        left: 1%;
        top: 3px;
    }

    /*-----------------------------------------------*/

    /*grands titres*/
    /* objectif: avoir tous les titres les uns en dessous des autres */

    .deroulant1{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 45%;
        right: 40%;
        top: 3px;
        width:200px;
        height:10px;
    }
    .deroulant5{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 45%;
        right: 40%;
        top: 28px;
        width:200px;
        height:10px;
    }
    .deroulant2{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 45%;
        right: 38%;
        top: 48px;
        width:200px;
        height:10px;
    }
    .deroulant3{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 45%;
        right: 38%;
        top: 70px;
        width:200px;
        height:10px;
    }
    .deroulantF{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 3%;
        right: 40%;
        top: 95px;
        width: 40px;
        height:40px;
    }
    .deroulantI{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 20%;
        right: 40%;
        top: 55px;
        width: 40px;
        height:40px;
    }
    .deroulant4{ /* redimension et relocalisation du titre */
        display:block;
        position: relative;
        left: 50%;
        right: 40%;
        top: 15px;
        width: 142px;
        height:35px;
    }

    /*-------------------------------------------------------*/
    /* sous-parties */

    .sous{
        position:relative;
    }
    .inside-menu li{
        display: block;
        position:relative;
        clear:none;
    }
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

/* partie dédiée à la bonne ergonomie du site dans le format Tablette */
/* objectif : pouvoir voir intégralement les icones à la droite de l'écran en format tablette*/


@media only screen and (max-width:1050px){
    @media only screen and (min-width:650px){ /* cette partie est dédiée aux ecrans faisant entre 1050px et 650px*/
        
        .deroulantF{ /*relocalisation de l'icone*/
            position: absolute;
            left: 79.08%;
            top: 62.22%;
        }

        .deroulantI{/*relocalisation de l'icone*/
            position: absolute;
            /* left: 92.74%;
            right: 15.49%; */
            right:0px;
            top: 62.22%;
        }

        .deroulant4{ /*relocalisation de l'icone*/
            position:absolute;
            left:79%;
            top: 22.22%;
            padding-top:5px;
            height:35px;
            width:142px;
        }
        
    }
}